name: Build Docker Image

on:
  push:
    branches:
      - dev
  workflow_call:
    inputs:
      version:
        description: "The version tag (e.g., v1.2.3)"
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            # 1. Standard Branch Logic (only run if NO input version provided)
            type=ref,event=branch,enable=${{ inputs.version == '' }}

            # 2. Semantic Version Logic (only run if input version IS provided)
            type=semver,pattern={{version}},value=${{ inputs.version }},enable=${{ inputs.version != '' }}
            type=semver,pattern={{major}}.{{minor}},value=${{ inputs.version }},enable=${{ inputs.version != '' }}
            type=semver,pattern={{major}},value=${{ inputs.version }},enable=${{ inputs.version != '' }}

      - uses: docker/setup-buildx-action@v3
        id: setup-buildx

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.version }}

      - name: Set version info variables
        id: vars
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "timestamp=$(date -u +'%Y-%m-%d %H:%M:%S UTC')" >> $GITHUB_OUTPUT

      - uses: docker/build-push-action@v5
        id: push
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: VERSION=${{ inputs.version || github.ref_name }} (${{ steps.vars.outputs.sha_short }}, ${{ steps.vars.outputs.timestamp }})
          cache-from: type=gha
          cache-to: type=gha,mode=max
